{% extends 'PortfolioBundle:Layout:master.html.twig' %}
{% block body %}
<div class="menu menu-fixed">
<h4 id="name-fixed">Robin Chalas</h4>
<ul class="list-inline">
  <li><a id="topanch-fixed" href="#top">Profil</a></li>
  <li><a id="companch-fixed" href="#services">Services</a></li>
  <li><a id="travanch-fixed" href="#portfolio">Travaux</a></li>
  <li><a id="contanch-fixed" href="#contact">Contact</a></li>
</ul>
</div>
<div class="container">
  <div class="head">
    <div class="col-sm-4 col-md-4 user-details infohead">
      <div class="user-image">
        <img src="{{ asset('bundles/portfolio/img/BeFunky_yeuxverrt2.png') }}" alt="Robin CHALAS" title="Développeur web fullstack" class="img-circle imgprof">
      </div>
      <div class="user-info-block">
        <div class="user-heading">
          <h3>Robin Chalas</h3>
          <a name="top" href="#"></a>
          <span class="help-block">Développeur Web <b>Full Stack</b><br>Lyon, 69003</span>
        </div>
      </div>
    </div>
    <div class="page-header jumbotron greyhead">

      <h1 id="timeline">&nbsp;</h1>
      <div class="menu" id="menu">
        <ul class="list-inline">
          <li><a href="#top">Profil</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Travaux</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="timeline">
    <li id="profil">
      <a name="profil" href="#"></a>
      <div class="btn-floating btn-large waves-effect waves-light timeline-badge">
        <span class="flaticon-career1"></span>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Profil</h4>
          <p><small class="text-muted">Robin Chalas - 21 ans</small></p>
        </div>
        <div class="timeline-body">
          <p>
            Développeur Web <b>[ BACK &amp; FRONT ]</b><br>
            69003 LYON - 104 Rue Baraban<br>
            <b>Web@cadémie </b>- Epitech <br>
            Permis B + Véhicule<br>
            <a id="dlcv" href="{{ asset('bundles/portfolio/cv/cv.pdf') }}"> Mon C.V. au format PDF !</a>
            <br><br>
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="btn-floating btn-large waves-effect waves-light timeline-badge"><span class="flaticon-profile8"></span></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Parcours</h4>
        </div>
        <div class="timeline-body">
          <p>
            <b>P</b>assionné d'informatique depuis l'enfance, mes débuts dans le développement de sites web datent de 2007. <br>
            <b>D</b>epuis, j'ai évolué à mon rythme, en <b>autodidacte</b>, tout en restant concentré sur l'enseignement général. <br>
            <b>U</b>n jour, à force d'emplois éphémeres, je me suis rendu à la Mission Locale où on m'a parlé de la <b>Web@cadémie</b>, une formation pour 18-25 ans passionnées par le Web. <br>
            J'ai passé mon entretien avec succès et j'ai emmenagé sur Lyon pour entamer ce <b>cursus de la 2ème chance</b>.<br>
            <b>D</b>ésormais, je m'épanouis complètement dans cette formation où l'<b>autonomie</b> est maître mot. <br>
          </p>
        </div>
      </div>
    </li>
    <li id="block3" >
      <div class="btn-floating btn-large waves-effect waves-light timeline-badge"><span class="flaticon-programming2"></span></div>
      <a name="competences" href="#"></a>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Métier</h4>
        </div>
        <div class="timeline-body">
          <p>
            <b>Développeur Full Stack</b>, je concrétise vos idées de A à Z.<br><br>
            Orienté <b>Javascript</b>, je réalise des applications web intéractives, intuitives et optimisées. <br>
            Des fonctionnalités puissantes et innovantes, en passant par un design complètement personnalisé. <br>
            Votre site web symbolise votre image, celui ci doit donc être unique. <br>
            Selon le besoin, j'utilise différentes technologies côté serveur (back-end), dont les frameworks PHP les plus puissants et réputés tels que <b>Laravel</b> et <b>Symfony</b>, ou bien une technologie Javascript telle que <b>NodeJS</b>, une plateforme contenant un serveur à part entière. <br>
            <b>Côté client</b>, j'emploie le plus souvent <b>Angular.JS</b>, un framework Javascript créé par Google d'une puissance remarquable, permettant une intéractivité totale sur votre application; bien souvent combiné avec du <b>jQuery</b>, il permet d'alier <b>performances</b> et <b>allure</b> avec des animations hyper <b>fluides</b>.
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted" id="block8">
      <div class="btn-floating btn-large waves-effect waves-light timeline-badge"><span class="glyph-icon flaticon-responsive16"></span> </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Projets</h4>
        </div>
        <div class="timeline-body">
          <p>
            <b>Tous</b> mes projets sont conformes à la norme du <b>W3C</b>. <br>
            Cette norme correspond aux derniers standards <b>HTML5</b> et <b>CSS3</b>. <br>
            À la demande, je met en place un design <b>Responsive</b>.<br>
            Soit un site web qui <b>s'adapte à la résolution du navigateur utilisé</b> , et donc à chaque appareil <b>(mobile, tablette, télévision ..)</b><br>
            <b>Un projet web se doit d'être réutilisable et adaptable à l'infini.</b>
          </p>
        </div>
      </div>
    </li>
  </ul>
  <hr>

  <div id="services" class="row langages">
    <h3 class="envh3">ENVIRONNEMENT</h3>
    <a href="#" name="services"></a>
    <div class="col-md-6 leftside">
      <div class="blockquote-box clearfix angularsec">
        <p class="angparaph desc">
          <img src="{{ asset('bundles/portfolio/img/angularjs-grey2.png') }}" alt="Angular.JS" class="ang" title="Angular.JS"/><br>
          C'est un outil parfaitement adapté pour réaliser des <b>Single Page App's</b>,<br>
          À mon sens, la meilleure façon de concevoir un site web, de par sa fluidité. <br>
          Le temps où chaque action effectuée sur un site web engendrait un rafraîchissement du navigateur est désormais <b>révolu</b>. <br> Les mots <b>intuitif</b> et <b>intéractif</b> prennent tout leur sens.
        </p>
      </div>
      <div class="row leftools">
        <p class="nodetool">
          <a href="http://nodejs.org" class="tool span4 title" target="_blank" title="Node.js">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="60.016px" viewBox="0 0 200 60.016" enable-background="new 0 0 200 60.016" xml:space="preserve">
          <g>
          <path fill="#414A4C" d="M29.973,31.349c0-0.581-0.306-1.115-0.808-1.403l-13.372-7.694c-0.226-0.133-0.479-0.202-0.736-0.213
          c-0.023,0-0.12,0-0.138,0c-0.256,0.011-0.509,0.08-0.739,0.213L0.809,29.946C0.31,30.234,0,30.768,0,31.349l0.029,20.722
          c0,0.288,0.15,0.558,0.403,0.698c0.248,0.148,0.555,0.148,0.802,0l7.947-4.551c0.503-0.299,0.809-0.825,0.809-1.401v-9.682
          c0-0.577,0.306-1.111,0.806-1.397l3.384-1.948c0.252-0.146,0.528-0.217,0.81-0.217c0.276,0,0.559,0.07,0.803,0.217l3.383,1.948
          c0.501,0.286,0.808,0.82,0.808,1.397v9.682c0,0.576,0.31,1.105,0.81,1.401l7.945,4.551c0.249,0.148,0.56,0.148,0.808,0
          c0.246-0.142,0.401-0.41,0.401-0.698L29.973,31.349z"></path>
          <path fill="#414A4C" d="M101.375,2.865c-0.25-0.14-0.555-0.137-0.803,0.009c-0.247,0.146-0.398,0.41-0.398,0.696v20.521
          c0,0.202-0.108,0.389-0.282,0.49c-0.175,0.101-0.391,0.101-0.566,0l-3.35-1.931c-0.5-0.288-1.114-0.288-1.614,0l-13.377,7.721
          c-0.5,0.289-0.808,0.821-0.808,1.397v15.444c0,0.577,0.308,1.109,0.808,1.398l13.376,7.727c0.5,0.288,1.116,0.288,1.616,0
          l13.378-7.727c0.5-0.289,0.808-0.821,0.808-1.398V8.717c0-0.585-0.315-1.125-0.828-1.411L101.375,2.865z M100.134,42.138
          c0,0.146-0.076,0.278-0.202,0.352l-4.593,2.646c-0.125,0.072-0.278,0.072-0.403,0l-4.593-2.646
          c-0.125-0.072-0.202-0.206-0.202-0.352v-5.302c0-0.146,0.077-0.279,0.202-0.352l4.593-2.652c0.125-0.071,0.279-0.071,0.404,0
          l4.592,2.652c0.126,0.071,0.202,0.206,0.202,0.352V42.138z"></path>
          <path fill="#414A4C" d="M149.234,36.698c0.496-0.289,0.804-0.821,0.804-1.396v-3.742c0-0.576-0.308-1.107-0.806-1.396
          l-13.291-7.718c-0.5-0.291-1.117-0.291-1.619-0.002l-13.371,7.721c-0.5,0.288-0.809,0.821-0.809,1.397v15.44
          c0,0.58,0.312,1.116,0.816,1.402l13.289,7.571c0.488,0.28,1.09,0.283,1.584,0.01l8.038-4.468c0.255-0.143,0.413-0.41,0.415-0.701
          s-0.153-0.561-0.405-0.705l-13.458-7.726c-0.251-0.144-0.404-0.411-0.404-0.699v-4.84c0-0.288,0.153-0.555,0.403-0.699l4.188-2.414
          c0.248-0.144,0.557-0.144,0.806,0l4.19,2.414c0.25,0.146,0.403,0.411,0.403,0.699v3.809c0,0.289,0.154,0.556,0.404,0.699
          c0.25,0.145,0.56,0.145,0.81-0.002L149.234,36.698z"></path>
          <path fill="#414A4C" d="M54.297,22.361c0.5-0.288,1.116-0.288,1.615,0l13.375,7.72c0.5,0.289,0.808,0.82,0.808,1.398v15.45
          c0,0.576-0.308,1.108-0.808,1.398l-13.375,7.726c-0.5,0.287-1.116,0.287-1.616,0l-13.372-7.726c-0.5-0.289-0.808-0.822-0.808-1.398
          v-15.45c0-0.578,0.308-1.109,0.808-1.398L54.297,22.361z"></path>
          <path fill="#414A4C" d="M175.204,56.272c-0.461,0-0.919-0.121-1.322-0.354l-4.212-2.491c-0.628-0.352-0.32-0.477-0.113-0.549
          c0.838-0.291,1.008-0.358,1.903-0.866c0.095-0.053,0.217-0.032,0.313,0.024l3.234,1.921c0.117,0.063,0.282,0.063,0.391,0
          l12.613-7.28c0.116-0.066,0.191-0.202,0.191-0.341V31.781c0-0.144-0.075-0.275-0.195-0.349L175.4,24.159
          c-0.115-0.068-0.271-0.068-0.389,0l-12.604,7.274c-0.122,0.07-0.2,0.208-0.2,0.347v14.556c0,0.139,0.078,0.271,0.198,0.337
          l3.455,1.996c1.875,0.938,3.022-0.167,3.022-1.275V33.022c0-0.203,0.163-0.363,0.366-0.363h1.6c0.2,0,0.365,0.16,0.365,0.363
          v14.371c0,2.502-1.361,3.938-3.734,3.938c-0.729,0-1.303,0-2.904-0.79l-3.309-1.903c-0.815-0.473-1.322-1.354-1.322-2.301V31.781
          c0-0.946,0.507-1.829,1.322-2.3l12.613-7.288c0.799-0.451,1.857-0.451,2.65,0l12.611,7.288c0.816,0.473,1.324,1.354,1.324,2.3
          v14.556c0,0.945-0.508,1.825-1.324,2.301l-12.611,7.281C176.129,56.151,175.671,56.272,175.204,56.272z"></path>
          <path fill="#414A4C" d="M179.102,46.244c-5.521,0-6.677-2.533-6.677-4.658c0-0.202,0.162-0.363,0.364-0.363h1.631
          c0.182,0,0.334,0.131,0.362,0.31c0.245,1.659,0.979,2.498,4.317,2.498c2.656,0,3.789-0.603,3.789-2.012
          c0-0.812-0.322-1.416-4.451-1.819c-3.451-0.342-5.584-1.104-5.584-3.864c0-2.545,2.145-4.062,5.74-4.062
          c4.04,0,6.039,1.402,6.293,4.411c0.01,0.104-0.027,0.203-0.097,0.28c-0.069,0.072-0.165,0.116-0.267,0.116h-1.639
          c-0.169,0-0.318-0.12-0.354-0.284c-0.393-1.747-1.348-2.306-3.938-2.306c-2.901,0-3.237,1.011-3.237,1.769
          c0,0.917,0.396,1.184,4.313,1.702c3.876,0.513,5.717,1.238,5.717,3.962C185.389,44.67,183.098,46.244,179.102,46.244z"></path>
          <g>
          <path fill="#414A4C" d="M196.491,22.226V22.6h-1.062v2.767h-0.429V22.6h-1.058v-0.374H196.491z"></path>
          <path fill="#414A4C" d="M196.871,22.226h0.609l0.9,2.654l0.896-2.654h0.605v3.141h-0.406v-1.854c0-0.064,0.002-0.17,0.004-0.317
            c0.004-0.15,0.006-0.31,0.006-0.479l-0.897,2.649h-0.421l-0.904-2.649v0.094c0,0.078,0,0.195,0.006,0.354
            c0.002,0.155,0.008,0.271,0.008,0.348v1.854h-0.406V22.226L196.871,22.226z"></path>
          </g>
          <path fill="#414A4C" d="M134.936,35.973c0.097-0.055,0.215-0.055,0.312,0l2.565,1.48c0.097,0.057,0.155,0.157,0.155,0.27v2.964
          c0,0.111-0.06,0.214-0.155,0.269l-2.565,1.481c-0.097,0.056-0.215,0.056-0.312,0l-2.563-1.481
          c-0.097-0.055-0.155-0.156-0.155-0.269v-2.964c0-0.111,0.061-0.213,0.155-0.27L134.936,35.973z"></path>
        </g>
        </svg>
        </a>
          </p>

        <p class="htmltool">
          <a href="http://www.w3.org/TR/html5" class="tool span4 title" target="_blank" title="HTML5">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="60.016px" viewBox="0 0 200 60.016" enable-background="new 0 0 200 60.016" xml:space="preserve">
        <path fill="#414A4C" d="M164.902,24.385h8.723v-6.766h-9.327L164.902,24.385z M147.251,0l4.804,53.87l21.559,5.983l21.578-5.98
        L200,0H147.251z M191.074,50.443l-17.449,4.836v-6.854l-0.012,0.004l-13.532-3.758l-0.947-10.608h6.634l0.49,5.504l7.358,1.987
        l0.01-0.004V30.992h-14.767l-1.781-19.98h16.547V4.406h21.559L191.074,50.443z"></path>
        <path opacity="0.8" fill="#414A4C" d="M181.758,30.992h-8.133V41.55l7.366-1.988L181.758,30.992z
        M173.625,4.406v6.606h16.548l-0.592,6.607h-15.956v6.766h15.354l-1.812,20.285l-13.543,3.754v6.854l17.449-4.836l4.108-46.039
        L173.625,4.406L173.625,4.406z"></path>
        <g opacity="0.2">
        <polygon fill="#414A4C" points="173.625,11.012 157.078,11.012 158.859,30.992 173.625,30.992 173.625,24.385 164.902,24.385
        164.298,17.619 173.625,17.619 	"></polygon>
        <polygon fill="#414A4C" points="173.625,41.549 173.615,41.552 166.258,39.565 165.768,34.061 159.134,34.061 160.081,44.67
        173.613,48.427 173.625,48.424 	"></polygon>
        </g>
        <g>
        <path fill="#414A4C" d="M0,13.092h11.25v11.117h10.292V13.092h11.253v33.662H21.542V35.482H11.25v11.271H0V13.092z"></path>
        <path fill="#414A4C" d="M47.589,24.255h-9.906V13.092h31.065v11.163h-9.909v22.499H47.588L47.589,24.255L47.589,24.255z"></path>
        <path fill="#414A4C" d="M73.681,13.092h11.731l7.216,11.828l7.208-11.828h11.737v33.662h-11.205V30.069l-7.741,11.969h-0.193
        l-7.746-11.969v16.685H73.681V13.092z"></path>
        <path fill="#414A4C" d="M117.175,13.092h11.255v22.537h15.82v11.124h-27.075V13.092z"></path>
        </g>
        </svg>
        </a>
      </p>

      </div>

    </div>
    <div class="col-md-6">
      <div class="rightlogo blockquote-box blockquote-info clearfix nodeblock">
        <p class="desc nodedesc">
            <svg version="1.1" class="sftool" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="446px" height="120px" viewBox="0 0 200 60.016" enable-background="new 0 0 200 60.016" xml:space="preserve">
              <defs><style type="text/css">.sftool:hover path { cursor: default; }</style></defs>
              <g>
                <path fill="#9E9E9E" d="M109.318,21.81c-0.006,0-0.01,0.003-0.016,0.003c-0.633,0-1.244,0.434-1.514,1.016l-4.126,12.364h-0.065
                  l-4.039-12.357c-0.265-0.586-0.879-1.021-1.517-1.021c-0.006,0-0.006-0.003-0.014-0.003h-2.094l5.524,15.095
                  c0.19,0.541,0.573,1.364,0.573,1.714c0,0.316-0.893,3.991-3.574,3.991c-0.069,0-0.132-0.005-0.2-0.008
                  c-0.685-0.036-1.203,0.436-1.317,1.169l-0.08,1.032c0.542,0.095,1.088,0.222,2.045,0.222c3.958,0,5.136-3.586,6.259-6.691
                  l6.001-16.521h-1.847V21.81L109.318,21.81z M30.005,0C13.434,0,0,13.436,0,30.008s13.434,30.008,30.005,30.008
                  c16.571,0,30.005-13.437,30.005-30.008C60.011,13.436,46.577,0,30.005,0z M46.188,17.369c-1.389,0.049-2.348-0.781-2.393-2.042
                  c-0.014-0.463,0.105-0.866,0.423-1.34c0.309-0.605,0.375-0.676,0.367-0.94c-0.028-0.794-1.228-0.823-1.556-0.81
                  c-4.504,0.148-5.692,6.229-6.653,11.172l-0.471,2.606c2.593,0.38,4.435-0.089,5.462-0.753c1.445-0.938-0.405-1.902-0.173-2.972
                  c0.238-1.089,1.227-1.613,2.013-1.635c1.102-0.028,1.888,1.114,1.863,2.273c-0.039,1.917-2.582,4.55-7.667,4.441
                  c-0.62-0.015-1.189-0.059-1.721-0.124l-0.96,5.298c-0.858,4.01-2,9.488-6.082,14.27c-3.508,4.173-7.067,4.818-8.662,4.873
                  c-2.982,0.104-4.959-1.489-5.03-3.61c-0.068-2.057,1.749-3.18,2.942-3.217c1.59-0.053,2.692,1.101,2.734,2.43
                  c0.041,1.124-0.546,1.477-0.935,1.688c-0.26,0.209-0.65,0.422-0.635,0.885c0.008,0.198,0.221,0.652,0.882,0.633
                  c1.261-0.045,2.099-0.667,2.685-1.085c2.905-2.42,4.023-6.639,5.487-14.318l0.307-1.86c0.5-2.498,1.053-5.281,1.897-8.058
                  c-2.048-1.542-3.275-3.452-6.029-4.199c-1.888-0.515-3.04-0.077-3.848,0.945c-0.959,1.212-0.64,2.789,0.286,3.714l1.53,1.691
                  c1.875,2.168,2.9,3.854,2.514,6.121c-0.612,3.623-4.926,6.4-10.026,4.833c-4.353-1.342-5.167-4.424-4.645-6.123
                  c0.461-1.494,1.648-1.776,2.81-1.422c1.243,0.386,1.73,1.896,1.375,3.057c-0.04,0.124-0.104,0.334-0.234,0.61
                  c-0.145,0.319-0.412,0.601-0.527,0.973c-0.28,0.913,0.969,1.562,1.84,1.828c1.948,0.603,3.849-0.417,4.331-1.994
                  c0.447-1.45-0.469-2.461-0.848-2.849l-1.845-1.976c-0.844-0.939-2.699-3.561-1.795-6.502c0.349-1.134,1.085-2.338,2.152-3.135
                  c2.252-1.679,4.702-1.955,7.033-1.283c3.017,0.867,4.467,2.863,6.347,4.403c1.052-3.085,2.511-6.105,4.704-8.656
                  c1.98-2.321,4.641-4.005,7.689-4.107c3.045-0.103,5.348,1.278,5.424,3.465C48.58,15.5,48.045,17.308,46.188,17.369z M90.24,25.096
                  c-2.478-1.261-5.189-2.115-5.237-4.649c0.007-2.692,2.498-3.398,4.416-3.396c0.009-0.001,0.016-0.001,0.021-0.001
                  c0.834,0,1.499,0.083,2.151,0.225c0.009,0,0.007-0.01,0.018-0.01c0.688,0.049,1.264-0.484,1.346-1.157l0.055-0.979
                  c-1.258-0.309-2.574-0.468-3.716-0.468c-4.173,0.025-7.271,2.11-7.28,6.089c0.005,3.479,2.367,4.827,4.905,6.048
                  c2.488,1.19,5.216,2.172,5.241,5.04c-0.016,2.997-2.925,4.106-4.93,4.108c-1.173-0.002-2.447-0.295-3.521-0.636
                  c-0.671-0.109-1.222,0.481-1.308,1.263l-0.092,0.871c1.475,0.476,2.988,0.886,4.506,0.886c0,0,0.001,0,0.005,0h0.014
                  c4.673-0.034,8.305-1.884,8.318-6.693C95.146,27.93,92.767,26.372,90.24,25.096z M131.305,21.43c-1.467,0-3.924,0.825-5.039,3.141
                  c-0.863-2.19-2.748-3.141-4.629-3.141c-2.394,0-4.021,0.854-5.174,2.728h-0.061V23.15c-0.012-0.74-0.612-1.338-1.359-1.338
                  c-0.007,0-0.01-0.003-0.016-0.003h-1.438v16.174h1.628c0.001,0,0.001-0.002,0.004-0.002c0.752,0,1.359-0.604,1.359-1.354
                  c0-0.018,0.008-0.026,0.013-0.041v-6.753c0-3.014,1.216-5.995,4.276-5.995c2.427,0,2.906,2.506,2.906,4.503v9.643h1.646
                  c0.002,0,0.002-0.002,0.006-0.002c0.71,0,1.283-0.543,1.349-1.229v-6.919c0-3.014,1.213-5.995,4.279-5.995
                  c2.424,0,2.901,2.506,2.901,4.503v9.643h1.674c0.002,0,0.002-0.002,0.003-0.002c0.648,0,1.188-0.452,1.326-1.055v-9.313
                  C136.96,24.094,135.461,21.43,131.305,21.43z M141.98,20.525v1.282h-3.83v1.258c0.098,0.649,0.656,1.149,1.342,1.149
                  c0.003,0,0.007,0.003,0.011,0.003h2.478v13.765h1.653c0.005,0,0.003-0.002,0.007-0.002c0.686,0,1.25-0.512,1.342-1.168V24.219h3
                  c0.709-0.021,1.275-0.581,1.311-1.282V21.81h-4.311v-1.539c0-2.188,0.319-3.837,2.901-3.837c0.05,0,0.101,0.003,0.147,0.005
                  c0.009,0,0.007-0.008,0.014-0.008c0.719,0.054,1.312-0.529,1.354-1.241l0.053-0.977c-0.605-0.096-1.248-0.19-2.01-0.19
                  C143,14.022,141.98,16.591,141.98,20.525z M177.262,21.43c-2.263,0-4.435,1.109-5.328,2.95h-0.062v-1.209
                  c0-0.001-0.003-0.001-0.003-0.005c0-0.748-0.611-1.354-1.361-1.354c-0.007,0-0.01-0.004-0.016-0.004h-1.53v16.175h1.652
                  c0,0,0-0.002,0.005-0.002c0.711,0,1.291-0.55,1.346-1.246v-6.237c0-3.93,1.537-6.659,4.95-6.659
                  c2.617,0.159,3.447,1.997,3.447,5.771v8.372H182v0.001c0.004,0,0.004-0.002,0.008-0.002c0.73,0,1.319-0.574,1.352-1.289v-8.316
                  C183.359,24.031,181.479,21.43,177.262,21.43z M158.002,21.43c-4.982,0-8.301,3.552-8.301,8.467c0,4.63,3.388,8.467,8.301,8.467
                  c4.883,0,8.268-3.838,8.268-8.467C166.27,24.981,162.952,21.43,158.002,21.43z M158.002,35.955c-3.544,0-5.107-3.172-5.107-6.059
                  c0-3.076,1.885-6.058,5.107-6.058c3.189,0,5.075,2.98,5.075,6.058C163.078,32.783,161.51,35.955,158.002,35.955z M198.157,21.812
                  V21.81c-0.007,0-0.009,0.003-0.015,0.003c-0.633,0-1.248,0.434-1.514,1.016l-4.127,12.364h-0.07l-4.037-12.357
                  c-0.262-0.586-0.879-1.021-1.514-1.021c-0.006,0-0.01-0.003-0.016-0.003h-2.094l5.522,15.095c0.19,0.541,0.576,1.364,0.576,1.714
                  c0,0.316-0.896,3.991-3.578,3.991c-0.063,0-0.133-0.005-0.199-0.008c-0.682-0.036-1.198,0.436-1.313,1.169l-0.082,1.032
                  c0.543,0.095,1.086,0.222,2.045,0.222c3.959,0,5.141-3.586,6.258-6.691l6-16.521h-1.843V21.812z"></path>
              </g>
            </svg>
            </a>
            <br>
          <b>Symfony</b> est un framework PHP en constante évolution, doté d'un ecosystème solide et d'une immense communauté.<br>
          Il a révolutionné la conception d'applications par sa flexibilité <br>
          C'est, pour moi, la technologie la plus adaptée pour construire une API ou une application à fort traffic.
        </p>
      </div>
      <div class="row rightools">

              <p class="bootool">
                <a href="http://getbootstrap.com" class="tool span4 title" target="_blank" title="bootstrap">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="60.016px" viewBox="0 0 200 60.016" enable-background="new 0 0 200 60.016" xml:space="preserve">
            	<g>
            		<path fill="#414A4C" d="M72.117,17.267c1.114,0,2.126,0.098,3.043,0.294c0.916,0.196,1.705,0.52,2.358,0.966
            			c0.656,0.448,1.165,1.043,1.522,1.784c0.363,0.742,0.544,1.66,0.544,2.752c0,1.179-0.27,2.161-0.805,2.947
            			c-0.532,0.785-1.327,1.43-2.372,1.933c1.439,0.415,2.515,1.142,3.225,2.179c0.709,1.036,1.063,2.286,1.063,3.749
            			c0,1.18-0.229,2.2-0.688,3.062c-0.458,0.864-1.074,1.565-1.849,2.114c-0.776,0.545-1.661,0.948-2.652,1.209
            			c-0.996,0.261-2.015,0.394-3.064,0.394h-11.33V17.267H72.117z M71.46,26.731c0.917,0,1.669-0.218,2.261-0.654
            			c0.588-0.438,0.884-1.146,0.884-2.131c0-0.544-0.102-0.991-0.296-1.341c-0.197-0.349-0.458-0.622-0.786-0.818
            			c-0.329-0.196-0.705-0.332-1.13-0.409c-0.427-0.077-0.869-0.115-1.327-0.115h-4.813v5.469H71.46z M71.753,36.656
            			c0.504,0,0.984-0.052,1.442-0.15c0.458-0.098,0.861-0.26,1.213-0.49c0.346-0.229,0.626-0.539,0.834-0.935
            			c0.208-0.394,0.312-0.896,0.312-1.505c0-1.2-0.339-2.058-1.016-2.571c-0.677-0.512-1.572-0.77-2.684-0.77h-5.601v6.42
            			L71.753,36.656L71.753,36.656z"></path>
            		<path fill="#414A4C" d="M82.136,28.516c0.415-1.104,1.003-2.041,1.768-2.816c0.765-0.774,1.682-1.375,2.75-1.803
            			c1.069-0.425,2.271-0.638,3.603-0.638c1.331,0,2.538,0.213,3.617,0.638c1.083,0.428,2.005,1.028,2.77,1.803
            			c0.765,0.775,1.354,1.713,1.767,2.816c0.417,1.102,0.623,2.331,0.623,3.684c0,1.354-0.207,2.577-0.623,3.669
            			c-0.414,1.092-1.002,2.024-1.767,2.8c-0.765,0.774-1.687,1.369-2.77,1.784c-1.079,0.414-2.286,0.622-3.617,0.622
            			c-1.332,0-2.534-0.208-3.603-0.622c-1.069-0.415-1.985-1.01-2.75-1.784c-0.764-0.774-1.353-1.708-1.768-2.8
            			c-0.414-1.092-0.623-2.315-0.623-3.669C81.514,30.846,81.722,29.617,82.136,28.516z M86.359,34.179
            			c0.133,0.646,0.357,1.227,0.671,1.738c0.317,0.512,0.738,0.921,1.264,1.226c0.522,0.309,1.177,0.461,1.963,0.461
            			c0.787,0,1.447-0.152,1.98-0.461c0.536-0.305,0.959-0.714,1.279-1.226c0.315-0.514,0.539-1.093,0.672-1.738
            			c0.128-0.643,0.195-1.304,0.195-1.979c0-0.677-0.067-1.343-0.195-1.998c-0.133-0.654-0.357-1.231-0.672-1.734
            			c-0.319-0.503-0.743-0.912-1.279-1.229c-0.533-0.314-1.193-0.474-1.98-0.474c-0.786,0-1.441,0.159-1.963,0.474
            			c-0.525,0.318-0.946,0.728-1.264,1.229c-0.314,0.502-0.539,1.08-0.671,1.734c-0.128,0.655-0.194,1.321-0.194,1.998
            			S86.23,33.537,86.359,34.179z"></path>
            		<path fill="#414A4C" d="M100.508,28.516c0.414-1.104,1.006-2.041,1.768-2.816c0.766-0.774,1.682-1.375,2.75-1.803
            			c1.072-0.425,2.271-0.638,3.604-0.638c1.333,0,2.539,0.213,3.619,0.638c1.082,0.428,2.003,1.028,2.768,1.803
            			c0.766,0.775,1.354,1.713,1.77,2.816c0.416,1.102,0.625,2.331,0.625,3.684c0,1.354-0.209,2.577-0.625,3.669
            			c-0.415,1.092-1.004,2.024-1.77,2.8c-0.765,0.774-1.686,1.369-2.768,1.784c-1.08,0.414-2.286,0.622-3.619,0.622
            			c-1.331,0-2.531-0.208-3.604-0.622c-1.068-0.415-1.984-1.01-2.75-1.784c-0.762-0.774-1.354-1.708-1.768-2.8
            			c-0.416-1.092-0.621-2.315-0.621-3.669S100.092,29.617,100.508,28.516z M104.73,34.179c0.131,0.646,0.355,1.227,0.672,1.738
            			c0.315,0.512,0.736,0.921,1.263,1.226c0.522,0.309,1.181,0.461,1.963,0.461c0.79,0,1.448-0.152,1.983-0.461
            			c0.531-0.305,0.957-0.714,1.275-1.226c0.316-0.514,0.543-1.093,0.672-1.738c0.131-0.643,0.194-1.304,0.194-1.979
            			c0-0.677-0.063-1.343-0.194-1.998c-0.129-0.654-0.354-1.231-0.672-1.734c-0.318-0.503-0.744-0.912-1.275-1.229
            			c-0.535-0.314-1.193-0.474-1.983-0.474c-0.782,0-1.438,0.159-1.963,0.474c-0.524,0.318-0.946,0.728-1.263,1.229
            			c-0.315,0.502-0.541,1.08-0.672,1.734c-0.131,0.655-0.196,1.321-0.196,1.998S104.602,33.537,104.73,34.179z"></path>
            		<path fill="#414A4C" d="M128.083,23.718v3.112h-3.403v8.383c0,0.785,0.129,1.311,0.396,1.571c0.259,0.263,0.782,0.394,1.567,0.394
            			c0.264,0,0.515-0.012,0.756-0.034c0.238-0.02,0.469-0.053,0.686-0.097v3.602c-0.395,0.064-0.831,0.107-1.311,0.129
            			s-0.947,0.036-1.408,0.036c-0.721,0-1.4-0.053-2.047-0.146c-0.646-0.098-1.209-0.289-1.701-0.575
            			c-0.492-0.283-0.879-0.688-1.164-1.209c-0.283-0.523-0.426-1.213-0.426-2.064v-9.987h-2.815v-3.112h2.815v-5.076h4.652v5.076
            			L128.083,23.718L128.083,23.718z"></path>
            		<path fill="#414A4C" d="M132.587,36.441c0.208,0.359,0.476,0.654,0.8,0.886c0.332,0.229,0.704,0.397,1.131,0.505
            			c0.428,0.109,0.869,0.165,1.328,0.165c0.326,0,0.672-0.036,1.03-0.115c0.358-0.074,0.688-0.195,0.983-0.359
            			c0.291-0.164,0.537-0.381,0.734-0.653c0.197-0.273,0.297-0.616,0.297-1.033c0-0.697-0.465-1.224-1.396-1.569
            			c-0.927-0.351-2.218-0.701-3.88-1.05c-0.678-0.153-1.338-0.331-1.979-0.54c-0.644-0.208-1.22-0.479-1.72-0.819
            			c-0.5-0.337-0.905-0.764-1.21-1.274c-0.311-0.515-0.46-1.143-0.46-1.884c0-1.093,0.211-1.987,0.64-2.687
            			c0.422-0.699,0.987-1.25,1.686-1.654c0.699-0.403,1.482-0.688,2.357-0.853c0.873-0.162,1.77-0.245,2.687-0.245
            			c0.915,0,1.806,0.087,2.669,0.262c0.861,0.176,1.633,0.471,2.311,0.885c0.676,0.416,1.234,0.966,1.684,1.653
            			c0.447,0.688,0.716,1.557,0.806,2.604h-4.423c-0.066-0.895-0.405-1.5-1.016-1.817c-0.612-0.315-1.332-0.474-2.162-0.474
            			c-0.264,0-0.545,0.015-0.851,0.049c-0.31,0.032-0.586,0.104-0.835,0.212c-0.252,0.111-0.466,0.268-0.641,0.475
            			c-0.174,0.208-0.264,0.487-0.264,0.836c0,0.415,0.156,0.754,0.461,1.015c0.308,0.262,0.703,0.475,1.193,0.639
            			c0.493,0.163,1.055,0.312,1.689,0.441c0.631,0.132,1.275,0.271,1.93,0.427c0.678,0.152,1.338,0.338,1.982,0.557
            			c0.644,0.22,1.215,0.509,1.719,0.867c0.505,0.36,0.906,0.808,1.214,1.344c0.304,0.534,0.458,1.195,0.458,1.98
            			c0,1.113-0.225,2.047-0.672,2.8c-0.449,0.754-1.03,1.358-1.754,1.817c-0.719,0.457-1.543,0.78-2.473,0.968
            			c-0.93,0.183-1.873,0.276-2.83,0.276c-0.984,0-1.947-0.1-2.885-0.298c-0.939-0.19-1.771-0.521-2.506-0.979
            			c-0.729-0.458-1.332-1.065-1.801-1.817c-0.469-0.751-0.727-1.695-0.77-2.832h4.42C132.273,35.649,132.381,36.082,132.587,36.441z"></path>
            		<path fill="#414A4C" d="M153.923,23.718v3.112h-3.407v8.383c0,0.785,0.131,1.311,0.395,1.571c0.261,0.263,0.787,0.394,1.57,0.394
            			c0.262,0,0.513-0.012,0.754-0.034c0.24-0.02,0.47-0.053,0.688-0.097v3.602c-0.394,0.064-0.83,0.107-1.312,0.129
            			c-0.479,0.021-0.948,0.036-1.406,0.036c-0.725,0-1.405-0.053-2.049-0.146c-0.645-0.098-1.211-0.289-1.702-0.575
            			c-0.491-0.283-0.881-0.688-1.163-1.209c-0.284-0.523-0.428-1.213-0.428-2.064v-9.987h-2.815v-3.112h2.815v-5.076h4.652v5.076
            			L153.923,23.718L153.923,23.718z"></path>
            		<path fill="#414A4C" d="M158.934,23.718v3.145h0.065c0.219-0.523,0.513-1.009,0.885-1.456c0.367-0.448,0.794-0.831,1.274-1.147
            			c0.479-0.317,0.992-0.562,1.539-0.737c0.544-0.175,1.115-0.262,1.703-0.262c0.307,0,0.645,0.055,1.017,0.164v4.323
            			c-0.22-0.044-0.481-0.082-0.786-0.115c-0.307-0.033-0.602-0.049-0.883-0.049c-0.852,0-1.572,0.142-2.164,0.426
            			c-0.587,0.284-1.062,0.67-1.423,1.163c-0.362,0.491-0.618,1.063-0.771,1.719s-0.229,1.364-0.229,2.129v7.63h-4.651V23.718H158.934z
            			"></path>
            		<path fill="#414A4C" d="M166.234,26.206c0.479-0.721,1.091-1.299,1.834-1.736c0.742-0.435,1.578-0.748,2.506-0.933
            			c0.93-0.186,1.863-0.278,2.801-0.278c0.854,0,1.713,0.06,2.585,0.18c0.874,0.121,1.672,0.356,2.394,0.705
            			c0.721,0.35,1.31,0.834,1.768,1.457s0.688,1.447,0.688,2.474v8.81c0,0.764,0.045,1.496,0.129,2.195
            			c0.09,0.697,0.24,1.219,0.461,1.568h-4.715c-0.09-0.26-0.158-0.526-0.213-0.804c-0.058-0.271-0.095-0.548-0.115-0.832
            			c-0.74,0.765-1.615,1.296-2.621,1.604c-1.004,0.304-2.028,0.458-3.075,0.458c-0.812,0-1.563-0.1-2.261-0.298
            			c-0.7-0.19-1.312-0.501-1.836-0.915c-0.522-0.413-0.932-0.938-1.229-1.569c-0.295-0.633-0.441-1.388-0.441-2.261
            			c0-0.961,0.166-1.753,0.51-2.374c0.334-0.622,0.771-1.117,1.308-1.489c0.537-0.373,1.147-0.649,1.836-0.836
            			s1.382-0.332,2.078-0.442c0.7-0.107,1.388-0.196,2.063-0.261c0.678-0.065,1.276-0.164,1.804-0.295
            			c0.521-0.133,0.938-0.322,1.241-0.574c0.307-0.252,0.447-0.616,0.426-1.097c0-0.502-0.08-0.9-0.245-1.195
            			c-0.165-0.294-0.384-0.523-0.657-0.687c-0.271-0.165-0.587-0.273-0.947-0.328c-0.358-0.055-0.746-0.081-1.16-0.081
            			c-0.918,0-1.639,0.194-2.162,0.589c-0.523,0.393-0.83,1.048-0.918,1.965h-4.649C165.48,27.834,165.753,26.928,166.234,26.206z
            			 M175.422,32.771c-0.296,0.1-0.613,0.185-0.949,0.247c-0.341,0.065-0.691,0.12-1.064,0.165c-0.375,0.044-0.74,0.096-1.115,0.164
            			c-0.35,0.064-0.691,0.151-1.029,0.26c-0.339,0.109-0.634,0.258-0.883,0.442c-0.253,0.187-0.453,0.422-0.607,0.703
            			c-0.154,0.285-0.229,0.646-0.229,1.081c0,0.417,0.074,0.765,0.229,1.05c0.154,0.282,0.363,0.508,0.623,0.671
            			c0.264,0.162,0.565,0.276,0.916,0.345c0.349,0.065,0.709,0.098,1.08,0.098c0.918,0,1.629-0.152,2.131-0.458
            			c0.5-0.306,0.873-0.671,1.113-1.098c0.238-0.427,0.385-0.857,0.441-1.294c0.053-0.438,0.08-0.786,0.08-1.047v-1.736
            			C175.96,32.54,175.715,32.675,175.422,32.771z"></path>
            		<path fill="#414A4C" d="M187.197,23.718v2.162h0.062c0.567-0.917,1.292-1.583,2.161-1.998c0.871-0.415,1.835-0.623,2.883-0.623
            			c1.332,0,2.479,0.252,3.438,0.753c0.962,0.502,1.758,1.168,2.393,1.998c0.631,0.829,1.102,1.795,1.406,2.898
            			c0.307,1.103,0.46,2.253,0.46,3.454c0,1.137-0.153,2.228-0.46,3.275c-0.305,1.048-0.771,1.978-1.391,2.784
            			c-0.625,0.807-1.396,1.452-2.324,1.933c-0.932,0.479-2.016,0.72-3.262,0.72c-1.047,0-2.015-0.211-2.896-0.64
            			c-0.882-0.425-1.609-1.053-2.18-1.884h-0.062v8.025h-4.653V23.718H187.197z M193.234,37.143c0.515-0.305,0.93-0.702,1.248-1.193
            			c0.312-0.491,0.539-1.064,0.672-1.72c0.128-0.654,0.193-1.32,0.193-1.997c0-0.678-0.072-1.344-0.209-1.998
            			c-0.146-0.654-0.38-1.239-0.709-1.752c-0.326-0.514-0.746-0.928-1.258-1.246c-0.512-0.314-1.145-0.474-1.884-0.474
            			c-0.767,0-1.403,0.159-1.918,0.474c-0.513,0.318-0.929,0.728-1.242,1.229c-0.317,0.502-0.542,1.08-0.672,1.734
            			c-0.132,0.655-0.197,1.334-0.197,2.031c0,0.677,0.068,1.343,0.214,1.997c0.141,0.654,0.37,1.229,0.687,1.72
            			c0.315,0.491,0.737,0.89,1.262,1.193c0.524,0.309,1.158,0.461,1.899,0.461C192.084,37.604,192.725,37.451,193.234,37.143z"></path>
            	</g>
            	<path fill="#414A4D" d="M54.801,13.005c-2.016,0.894-4.183,1.499-6.457,1.77c2.321-1.391,4.104-3.595,4.943-6.22
            		c-2.172,1.289-4.578,2.226-7.14,2.729c-2.051-2.186-4.973-3.551-8.207-3.551c-6.208,0-11.243,5.034-11.243,11.243
            		c0,0.881,0.1,1.739,0.292,2.562C17.645,21.069,9.361,16.594,3.815,9.791c-0.968,1.66-1.522,3.592-1.522,5.651
            		c0,3.901,1.985,7.343,5.002,9.358c-1.843-0.058-3.577-0.564-5.093-1.406c-0.001,0.047-0.001,0.095-0.001,0.143
            		c0,5.446,3.875,9.99,9.019,11.023c-0.943,0.257-1.937,0.396-2.962,0.396c-0.725,0-1.429-0.07-2.116-0.202
            		c1.431,4.467,5.583,7.718,10.503,7.809c-3.848,3.016-8.696,4.812-13.963,4.812c-0.907,0-1.802-0.055-2.682-0.157
            		c4.976,3.19,10.886,5.052,17.235,5.052c20.681,0,31.989-17.132,31.989-31.988c0-0.488-0.011-0.974-0.032-1.455
            		C51.389,17.24,53.294,15.26,54.801,13.005z"></path>
            </svg>
          			</a>
              </p>

              <p class="gitool">
                <a href="http://git-scm.com" class="tool span4 title" target="_blank" title="Git">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="200px" height="60.016px" viewBox="0 0 200 60.016" enable-background="new 0 0 200 60.016" xml:space="preserve">
                <g>
                <path fill="#414A4C" d="M120.547,18.953c-6.824,0-10.214,3.493-10.214,8.58c0,3.273,1.649,5.573,3.836,6.635
                c-1.069,0.973-1.962,1.814-2.765,2.653c-0.805,0.841-1.295,1.726-1.295,2.699c0,1.193,0.49,2.3,1.963,2.917
                c-1.561,1.462-2.454,2.521-2.454,4.513c0,3.493,3.079,5.528,11.151,5.528c7.763,0,12.267-2.874,12.267-7.961
                c0-5.88-4.55-6.104-12.267-6.59l-4.371-0.265l1.473-2.344c0.802,0.221,2.097,0.396,3.525,0.396c5.619,0,9.5-2.875,9.5-7.783
                c0-2.035-0.849-3.45-1.65-4.469l4.104-0.309v-3.759h-8.699C123.625,19.129,122.465,18.953,120.547,18.953z M122.555,44.075
                c2.143,0.133,3.838,0.221,3.838,1.638c0,2.386-3.524,2.565-6.111,2.565c-3.123,0-5.398-0.531-5.398-2.3
                c0-0.886,0.579-1.638,1.16-2.344L122.555,44.075z M120.816,31.071c-2.945,0-4.149-1.504-4.149-3.671
                c0-2.875,1.828-4.069,4.28-4.069c2.544,0,4.062,1.372,4.062,3.98C125.009,29.613,123.312,31.071,120.816,31.071z M141.199,15.427
                c2.587,0,4.059-1.46,4.059-3.981c0-2.521-1.472-3.893-4.059-3.893c-2.545,0-4.016,1.372-4.016,3.893
                S138.654,15.427,141.199,15.427z M145.168,37.32V18.966h-9.234l-0.49,3.581l2.408,0.842c0.448,0.131,0.582,0.441,0.582,0.927
                V37.32c0,0.665-0.09,0.796-0.713,0.886l-2.277,0.31v3.492h12.715v-3.492l-2.274-0.31C145.211,38.116,145.168,38.028,145.168,37.32
                z M164.592,36.399c-1.07,0.398-2.363,0.707-3.613,0.707c-2.408,0-3.033-1.018-3.033-3.626V22.91h6.646v-4.422h-6.289
                c-0.357,0-0.357-0.133-0.357-0.442v-6.281h-4.238c-0.49,4.82-2.051,6.768-5.977,7.21v3.937h3.123c0.357,0,0.357,0.177,0.357,0.442
                V34.94c0,5,2.006,7.12,7.314,7.12c2.543,0,5.354-0.841,7.271-1.769L164.592,36.399z M66.866,1.134
                c-1.507-1.509-3.954-1.509-5.462,0l-5.438,5.441l6.898,6.902c1.604-0.542,3.442-0.18,4.72,1.1c1.285,1.287,1.645,3.142,1.09,4.751
                l6.649,6.651c1.609-0.555,3.465-0.195,4.749,1.092c1.796,1.796,1.796,4.706,0,6.503c-1.796,1.797-4.705,1.797-6.502,0
                c-1.35-1.353-1.684-3.337-1-5.001l-6.201-6.204v16.325c0.438,0.217,0.851,0.506,1.216,0.869c1.795,1.796,1.795,4.706,0,6.504
                c-1.796,1.796-4.706,1.796-6.5,0c-1.795-1.798-1.795-4.708,0-6.504c0.444-0.443,0.957-0.778,1.505-1.003V22.084
                c-0.548-0.225-1.06-0.558-1.505-1.004c-1.36-1.358-1.688-3.355-0.99-5.027l-6.8-6.805l-17.96,17.965
                c-1.509,1.512-1.509,3.958,0,5.469l26.19,26.198c1.508,1.511,3.954,1.511,5.463,0l26.067-26.078c1.509-1.51,1.509-3.958,0-5.467
                L66.866,1.134z"></path>
                </g>
                </svg>
                </a>
              </p>
      </div>
    </div>
  </div> <hr>
        <div id="others">
            <p class="icon-inline text-inline">
              <span class="others"><b>AUTRES</b></span><br><hr>
              <div class="technother">

              <b class="otherbacklogos"></b>
              <span class="devicons devicons-ruby"></span>
              <a href="/http://laravel.com/" title="Laravel"><svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 128 128" data-ember-extension="1"><path fill-rule="evenodd" clip-rule="evenodd" fill="#333333" d="M16.934 1.719c-1.127.088-2.234.074-3.325.373-2.387.655-4.508 1.702-6.379 3.316-1.1.948-2.06 1.97-2.875 3.174-1.258 1.859-2.115 3.857-2.545 6.106.172.301.353.617.545.938 1.219 2.038 2.439 4.062 3.661 6.098l3.212 5.341c.988 1.646 1.974 3.293 2.96 4.939l4.608 7.688c1.047 1.748 2.095 3.497 3.143 5.244 1.527 2.545 3.058 5.088 4.583 7.634l5.609 9.371c1.617 2.699 3.237 5.396 4.857 8.093l.216.314c.235.075.422.011.616-.035 2.134-.512 4.268-1.021 6.402-1.531 3.461-.827 6.922-1.651 10.383-2.479l5.421-1.297c3.499-.836 6.999-1.67 10.498-2.508 3.537-.846 7.073-1.696 10.611-2.543 1.788-.429 3.576-.856 5.365-1.283 3.461-.826 6.922-1.65 10.383-2.474l11.308-2.693.611-.165-.167-.331-3.086-4.362-3.048-4.315-3.26-4.604-3.116-4.413-3.088-4.361-3.188-4.507c-1.041-1.47-2.084-2.938-3.126-4.407l-1.647-2.326c-.252-.357-.453-.742-.587-1.159-.326-1.011.046-1.684.636-2.181.382-.323.822-.56 1.298-.7.663-.195 1.332-.382 2.01-.51 1.359-.257 2.727-.475 4.091-.702l4.624-.754c.975-.161 1.949-.33 2.924-.495 1.325-.224 2.65-.449 3.976-.67 1.287-.216 2.574-.43 3.861-.642l4.213-.689 2.924-.491c1.112-.186 2.223-.371 3.334-.553 1.386-.226 2.771-.454 4.157-.671.826-.129 1.652-.174 2.472.062.615.177 1.175.465 1.696.833l.721.503c.072-.166-.032-.256-.08-.351-1.04-2.105-2.458-3.915-4.26-5.422-1.675-1.402-3.556-2.433-5.636-3.09-1.229-.389-2.492-.208-3.778-.305M55.689 127c-.062 0-.117-.45-.187-.569-1.5-2.56-3.016-5.308-4.498-7.877-1.867-3.238-3.717-6.486-5.557-9.74-1.965-3.478-3.913-6.966-5.863-10.452-1.854-3.314-3.702-6.631-5.549-9.948-1.115-2.005-2.223-4.014-3.337-6.02l-.296-.459-.542.107c-1.072.277-2.142.556-3.212.838-1.49.392-2.979.791-4.47 1.18-3.347.871-6.694 1.737-10.041 2.605-3.404.884-6.951 1.77-10.356 2.65-.207.053.219.071-.781.106v21.145c.412.656.373.347.399.563.079.626.207 1.257.317 1.877.412 2.31 1.339 4.425 2.679 6.351 1.965 2.826 4.582 4.846 7.788 6.082 1.145.44 2.34.75 3.562.9l1.241.328"/>
              <path fill-rule="evenodd" clip-rule="evenodd" fill="#333333" d="M4.976 77.742c3.939-.937 7.879-1.873 11.818-2.808 1.73-.41 3.461-.815 5.191-1.227.865-.206 1.732-.402 2.59-.634.764-.206.858-.459.465-1.148-.568-.996-1.146-1.986-1.721-2.979l-5.064-8.72-5.062-8.721c-1.717-2.958-3.436-5.916-5.154-8.873-1.471-2.53-2.942-5.06-4.412-7.59-.636-1.094-1.408-2.191-2.047-3.284-.119-.199.42-.437-.58-.543v47.396c0-.032.453-.059.606-.096l3.37-.773zM126.224 111.62c-1.544.549-3.089 1.102-4.632 1.655-3.515 1.26-7.03 2.52-10.545 3.781-1.953.701-3.902 1.41-5.856 2.108-3.982 1.421-7.966 2.837-11.949 4.255-2.308.822-4.617 1.838-6.924 2.664-.632.227-1.255.917-1.881.917h26.49l.57-.327c.674-.029 1.337-.229 1.999-.35 2.719-.497 5.154-1.673 7.311-3.392 1.657-1.321 3.005-2.936 4.061-4.778 1.086-1.896 1.731-3.947 2.041-6.101.027-.186.085-.397-.071-.589-.22-.017-.414.086-.614.157zM123.949 76.049c-1.168-1.598-2.339-3.193-3.505-4.792-1.609-2.207-3.215-4.416-4.822-6.624-.653-.896-1.315-1.785-1.952-2.691-.192-.273-.411-.346-.71-.265l-.171.049c-2.958.719-5.917 1.436-8.876 2.153l-5.302 1.287c-3.457.839-6.915 1.679-10.372 2.519-3.419.831-6.838 1.663-10.258 2.492l-10.662 2.582c-3.497.849-6.992 1.701-10.488 2.551l-10.142 2.462c-1.787.434-3.574.866-5.359 1.302-.263.064-.546.08-.826.292l.239.455c1.497 2.586 2.994 5.171 4.495 7.755 1.699 2.926 3.399 5.851 5.103 8.774 1.874 3.213 3.753 6.424 5.63 9.636 1.079 1.845 2.151 3.692 3.239 5.532 1.209 2.044 2.422 4.084 3.653 6.115.369.607.788 1.187 1.21 1.759.283.382.633.708 1.046.957.426.257.885.338 1.369.229.25-.057.495-.139.737-.223l.89-.33c3.237-1.107 6.473-2.214 9.711-3.317 2.526-.86 5.055-1.716 7.583-2.571 2.509-.851 5.02-1.698 7.53-2.545l7.474-2.524c2.548-.861 5.095-1.722 7.642-2.585 3.126-1.061 6.251-2.126 9.379-3.185 3.015-1.02 6.033-2.034 9.049-3.052.185-.062.389-.088.542-.291l.019-.439c.001-6.255-.001-12.511.006-18.766 0-.334-.089-.604-.289-.873-.948-1.269-1.877-2.551-2.812-3.828zM123.43 17.111c-.702-.889-1.596-1.171-2.692-.885-.477.125-.967.204-1.453.293-1.594.292-3.19.579-4.784.868-2.334.424-4.667.852-7.001 1.272-1.848.332-3.697.659-5.546.983l-7.418 1.298c-.311.054-.625.108-.925.204-.437.14-.563.414-.363.825.163.336.366.657.586.959 1.534 2.114 3.075 4.223 4.616 6.333 2.124 2.909 4.249 5.817 6.374 8.724 1.798 2.46 3.598 4.92 5.397 7.379 1.414 1.932 2.828 3.864 4.244 5.795l.279.338 12.271-3.033.029-.636c.001-8.511-.001-17.022.006-25.534 0-.376-.091-.678-.328-.976-1.032-1.303-2.045-2.621-3.066-3.933l-.226-.274zM126.731 58.352c-1.856.446-3.719.87-5.62 1.373.201.357 5.415 7.395 5.718 7.729l.19.105.021-.429.001-2.963c.001-1.719.005-3.438.001-5.157 0-.209.059-.434-.085-.646l-.226-.012z"/>
              </svg></a>

              <b class="otherfrontlogos"></b>
              <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 128 128" enable-background="new 0 0 128 128" data-ember-extension="1"><g fill="#333333"><path d="M50.3 29.6c11.7-1 15-8.5 28.7-9.8 6.7-.6 11 .8 11.4 3.1.4 2.2-2.9 3.7-7 4-5.6.6-8-1.5-8.4-3.4-4.1.4-4.8 2.2-4.6 3.5.4 2.4 5.5 4.7 14.1 3.9 9.8-.8 13-4.6 12.2-8.5-1-5-8.5-9.2-22-8-17.3 1.6-17.2 9.5-28.9 10.5-4.8.4-7.5-.7-8-2.6-.3-1.9 2-2.8 4.8-3 2.6-.2 5.7.2 7.2 1 1.1-.6 1.5-1.1 1.3-1.8-.4-1.8-4-2.6-8.5-2.2-8.7.8-8.7 4.7-8.4 6.4 1.1 4.7 7.8 7.7 16.1 6.9zM108.9 49.4c-10.8 2.5-24.6 4.1-41.2 4.1-16.9 0-30.7-1.8-41.5-4.1-9.6-2.5-14.8-5.2-16.6-8 .9 6.3 2.5 12.4 4.6 18.2-2.4 1.5-4.7 3.5-6.7 6-3.8 4.8-5.5 10.4-5.2 15.9.3 5.5 3 10 7.3 13.5 4.5 3.5 9.3 4.5 14.8 3.5 2.1-.3 4.5-1.5 6.6-2.1-4.5 0-8.3-1.5-12.1-4.5-4.1-3-7-7.3-7.6-12.4-1-4.8 0-9.3 2.7-13.2.6-.8 1.2-1.4 1.9-2 1.5 3.8 3.3 7.4 5.2 10.9 4.1 6.3 8.3 11.8 12.4 17.7 1.8 3.5 3 7 3.8 10.4 2.7 3.8 6.6 6.5 11.4 7.9 5.9 2.1 12.1 2.9 18.4 2.9h.7c6.3 0 12.9-1 19-3 4.5-1.5 8.3-4 11.1-8h.3c.7-3 1.8-6.8 3.5-10.3 4.1-5.9 8.3-11.4 12.4-17.7 5.5-10 9.3-21.4 11.4-33.6-2.1 3-7.3 5.8-16.6 7.9zM26.2 40.7c10.8 2.7 24.6 4.1 41.2 4.1 16.9 0 30.4-1.5 41.2-4.1 11.4-2.7 16.9-6.3 16.9-9.6 0-2.5-2.5-4.8-7-6.6 1 .7 1.8 1.8 1.8 3 0 3.5-5.2 6.3-15.6 8.6-9.6 2.1-22 3.6-37 3.6-14.5 0-27.4-1.5-36.7-3.5-10-2.5-15.3-5.2-15.3-8.6 0-1.5.7-2.7 2.7-4.1-6.3 2.5-9.6 4.5-9.6 7.6.3 3.5 5.9 7 17.4 9.6z"/></g></svg>
              <svg xmlns="http://www.w3.org/2000/svg"  class="gulpsvg" width="60px" height="60px" viewBox="0 0 128 128" data-ember-extension="1"><path fill-rule="evenodd" clip-rule="evenodd" fill="#333333" d="M36.965 35.459c.877 9.232 1.747 18.412 2.637 27.798 1.451-2.495 2.501-4.888 4.085-6.848 1.475-1.826 3.334-3.511 5.357-4.678 2.641-1.524 6.104-.089 6.96 2.614.23.725-.319 1.697-.511 2.556-.646-.341-1.479-.529-1.901-1.051-1.793-2.217-2.873-2.479-4.856-.563-3.699 3.576-5.779 8.056-6.573 13.091-.153.974.456 2.067.713 3.105 1.011-.348 2.185-.476 3.002-1.084 2.656-1.977 4.302-4.666 5.21-7.88.197-.696 1.265-1.145 1.933-1.708.32.658 1.05 1.433.897 1.954-1.407 4.84-2.934 9.649-4.536 14.429-.162.484-1.051.725-1.604 1.079-.223-.636-.692-1.302-.617-1.901.168-1.358.605-2.683.91-3.927l-7.24 3.333c.405 4.622.825 9.807 1.323 14.985.382 3.954 1.029 4.978 4.923 5.728 4.544.875 9.173 1.434 13.792 1.774 6.825.503 13.59-.119 20.23-1.904 2.472-.664 3.458-2.29 3.635-4.717.162-2.235.524-4.456.775-6.685.493-4.391.972-8.783 1.476-13.358-1.667 1.056-2.978 2.238-4.511 2.739-1.116.365-2.524-.169-3.803-.303.245-1.174.23-2.497.796-3.487.922-1.618 2.224-3.021 3.364-4.515l-.491-.591c-.817.483-1.832.8-2.413 1.485-1.182 1.394-2.339 2.886-3.13 4.52-1.324 2.735-2.333 5.622-3.518 8.426-.515 1.216-.959 3.076-2.684 2.366-1.845-.761-.547-2.386-.114-3.542.689-1.844 1.599-3.606 2.215-4.962-1.746.208-3.516.459-5.294.614-.752.064-1.646-.348-2.261-.07-2.045.924-3.341.553-3.766-1.711-.947.615-1.749 1.448-2.694 1.672-1.147.273-2.703.452-3.543-.121-.673-.459-.918-2.184-.688-3.196.457-2.012 1.311-3.946 2.122-5.859.502-1.185 1.007-3.077 2.701-2.253 1.674.813.154 2.185-.232 3.286-.599 1.702-1.209 3.401-1.813 5.101l.96.58c.914-.794 2.053-1.441 2.693-2.415 1.048-1.592 1.681-3.452 2.673-5.086.411-.677 1.296-1.065 1.967-1.584.136.862.462 1.748.354 2.58-.107.841-.698 1.61-.981 2.442-.425 1.246-.768 2.52-1.2 3.969 2.043.078 2.918-.782 3.495-2.299 1.826-4.793 3.672-9.581 5.679-14.3.343-.808 1.509-1.264 2.296-1.884.091.974.525 2.078.216 2.899-1.645 4.349-3.492 8.62-5.228 12.935-.293.727-.387 1.534-.572 2.304 3.059-1.375 5.612-2.895 6.544-6.146.228-.79 1.162-1.377 1.771-2.058l1.416 1.5c.43-.362.824-.774 1.291-1.075 1.47-.947 3.053-1.782 4.603-.315 1.604 1.517.39 2.995-.448 4.307-.912 1.431-2.029 2.73-3.057 4.086 2.312-1.49 5.469-2.158 5.889-5.378 1.024-7.865 1.924-15.746 2.837-23.625.271-2.332.416-4.679.627-7.109-18.21 4.409-36.029 4.436-54.088-.069zM44.781 96.828c.877 2.317 2.209 4.593 2.558 7.011.737 5.147.924 10.372 1.446 15.554.076.755.565 1.792 1.175 2.124 8.98 4.88 18.047 5.726 27.209.389 1.367-.796 1.62-1.847 1.797-3.325.857-7.181-1.051-14.798 3.54-21.56-12.856 3.189-25.403 3.288-37.725-.193zM75.772 36.748c4.362-.421 8.671-1.445 12.985-2.291.813-.159 1.535-.778 2.299-1.185-1.007-.885-1.878-1.311-2.788-1.418-4.53-.535-9.076-.947-13.603-1.508-.684-.085-1.905-.929-1.854-1.083 1.321-3.98 1.256-8.485 4.254-11.839 3.789-4.24 7.617-8.443 11.416-12.648-2.826-3.04-2.864-3.044-5.425-.383-1.448 1.504-2.771 3.15-4.342 4.512-5.813 5.038-9.896 11.005-10.692 18.872-.183 1.805-1.174 2.457-3.069 2.485-6.256.091-12.519.263-18.761.674-3.093.203-6.148.997-9.221 1.523l-.028 1.149c1.923.593 3.809 1.372 5.773 1.749 10.944 2.098 21.991 2.458 33.056 1.391zm-3.496-2.748c-2.477 2-4.524 2-6.501 0h6.501z"/></svg>
              <span class="devicons devicons-jquery"></span>
              <b class="otherfrontlogos"></b>
              <span class="devicons devicons-composer"></span>
              <span class="devicons devicons-heroku"></span>
              <br>
              <b class="otherback">Back</b>
              <b class="otherfront"> Front </b>
              <b class="otherfront"> Varied </b>
              <!-- <span class="devicons devicons-heroku"></span> -->
              </div>
            </p>
  </div>
  <div class="right">
    <ul>
      <li><a id="topanch" href="#top">Profil</a></li>
      <li><a id="companch" href="#services">Services</a></li>
      <li><a id="travanch" href="#portfolio">Travaux</a></li>
      <li><a id="contanch" href="#contact">Contact</a></li>
    </ul>
  </div>
  <hr>
  <h3 class="worksh3">TRAVAUX</h3>
  <a href="#" name="portfolio"></a>
  <ul class="timeline">
    <li>
      <div class="no-after timeline-panel work" id="cloudwac">
        <div class="caption">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">CLOUDWAC</span>
              <p>
                I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.
              </p>
              <div class="btn-floating waves-effect waves-light technos grey">
                <span class="devicons devicons-laravel"></span>
              </div>
              <div class="showprod">
                <a target="_blank" href="https://github.com/chalasr/Laravel_Cloud" class="waves-effect waves-light btn showproj grey">Source</a>
                <a target="_blank" href="http://cloud.chalasdev.fr/" class="waves-effect waves-light btn showproj grey">Demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="no-after timeline-panel work" id="freeads">
        <div class="caption">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">FREE ADS</span>
              <p>
                I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.
              </p>
              <div class="btn-floating waves-effect waves-light technos grey">
                <span class="devicons devicons-laravel"></span>
              </div>
              <div class="showprod">
                <a target="_blank" href="http://github.com/chalasr/Laravel_FreeAds" class="waves-effect waves-light btn showproj grey">Source</a>
                <a target="_blank" href="http://freeads.chalasdev.fr" class="waves-effect waves-light btn showproj grey">Demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="no-after timeline-panel work" id="mymaps">
        <div class="caption">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">MY MAPS</span>
              <p>
                I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.
              </p>
              <div class="btn-floating waves-effect waves-light technos grey">
                <span class="devicons devicons-javascript"></span>
              </div>
              <div class="btn-floating waves-effect waves-light technos grey">
                <span class="devicons devicons-chrome"></span>
              </div>
              <div class="showprod">
                <a target="_blank" href="http://github.com/chalasr/Javascript_My_Maps" class="waves-effect waves-light btn showproj grey">Source</a>
                <a target="_blank" href="http://maps.chalasdev.fr" class="waves-effect waves-light btn showproj grey">Demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted" id="block10">
      <!-- <div class="btn-floating btn-large waves-effect waves-light timeline-badge" style="margin-top: -94px;"><span id="icjava" class="devicons devicons-javascript"></span></div> -->
      <div class="no-after timeline-panel work" id="mypaint">
        <div class="caption">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">MY PAINT</span>
              <p>
                I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.
              </p>
              <div class="btn-floating waves-effect waves-light technos grey">
                <span class="devicons devicons-javascript"></span>
              </div>
              <div class="showprod">
                <a target="_blank" href="http://github.com/chalasr/Javascript_My_Maps" class="waves-effect waves-light btn showproj grey">Source</a>
                <a target="_blank" href="http://paint.chalasdev.fr" class="waves-effect waves-light btn showproj grey">Demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li  >
      <div class="no-after timeline-panel work" id="whacker">
        <div class="caption">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">W'HACKER NET</span>
              <p>
                I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.
              </p>
              <div class="btn-floating waves-effect waves-light technos grey">
                <span class="devicons devicons-laravel"></span>
              </div>
              <div class="btn-floating waves-effect waves-light technos grey">
                <span class="devicons devicons-angular"></span>
              </div>
              <div class="showprod">
                <a target="_blank" href="http://github.com/chalasr/Laravel_AngularJS_Forum" class="waves-effect waves-light btn showproj grey">Source</a>
                <a target="_blank" href="http://forum.chalasdev.fr/" class="waves-effect waves-light btn showproj grey">Demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted" id="block4">
      <!-- <div class="btn-floating btn-large waves-effect waves-light timeline-badge" style="margin-top: -94px;"><span id="icang" class="devicons devicons-angular"></span></div> -->
      <div class="no-after timeline-panel work" id="ateliermac">
        <div class="caption">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">L'ATELIER MAC</span>
              <p>
                I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.
              </p>
              <div class="btn-floating waves-effect waves-light technos grey">
                <span class="devicons devicons-laravel"></span>
              </div>
              <div class="btn-floating waves-effect waves-light technos grey">
                <span class="devicons devicons-angular"></span>
              </div>
              <div class="showprod">
                <a target="_blank" href="http://github.com/chalasr/Laravel_AngularJS_LatelierMac" class="waves-effect waves-light btn showproj grey">Source</a>
                <a target="_blank" href="http://www.lateliermac.com/" class="waves-effect waves-light btn showproj grey">Demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <hr>
  <div class="contact">
    <a href="#" name="contact"></a>
    <h3>CONTACT</h3>
    <a href="#" name="contact"></a>
    <div class="row">
      <div class="col s12">
        <div class="browser-window">
          <div class='top-bar'>
            <div class='circles'>
              <div id="close-circle" class="circle"></div>
              <div id="minimize-circle" class="circle"></div>
              <div id="maximize-circle" class="circle"></div>
            </div>
          </div>
          <div class="row">
            <form class="col s12" method='POST'>
              <div class="row">
                <div class="divinput input-field col s6">
                  <input name="prenom" id="prenom" type="text" spellcheck="false" required>
                  <label for="prenom">Prenom</label>
                </div>
                <div class="divinput input-field col s6">
                  <input id="nom" type="text" spellcheck="false" required>
                  <label for="nom">Nom</label>
                </div>
              </div>
              <div class="row">
                <div class="divinput input-field col s12">
                  <input id="email" type="email" spellcheck="false" required>
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="divinput input-field col s10">
                  <textarea id="content" name="content" class="materialize-textarea" spellcheck="false" required></textarea>
                  <label for="content">Message</label>
                </div>
              </div>
              <div class="row divinput sendbtn">
                <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer
                  <i class="mdi-content-send"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <footer>
      <div class="container-fluid">
          <p class="text-muted">
            With <i class="fa fa-heart"></i> by Robin Chalas
          </p>
          <div class="col-lg-4  col-md-3 col-sm-6 col-xs-12 ">
            <ul class="social">
              <li> <a target="_blank" href="https://twitter.com/chalasdev"> <i class="fa fa-twitter"></i></a></li>
              <li> <a target="_blank" href="https://github.com/chalasr"> <i class="fa fa-github-alt"></i></a></li>
              <li> <a target="_blank" href="https://plus.google.com/u/0/118308500207772824373"> <i class="fa fa-google-plus"></i></a></li>
              <li> <a target="_blank" href="https://www.linkedin.com/pub/robin-chalas/98/893/3a0"> <i class="fa fa-linkedin"></i></a></li>
              <li> <a target="_blank" href="https://bitbucket.org/chalas_r"> <i class="fa fa-bitbucket"></i></a></li>
              <li> <a target="_blank" href="http://stackoverflow.com/users/4363634/chalas-r"> <i class="fa fa-stack-overflow"></i></a></li>
            </ul>
          </div>
      </div>
    </footer>
</div>
<script type="text/javascript" src="{{ asset('bundles/portfolio/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/portfolio/js/script.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/portfolio/js/materialize.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/portfolio/js/jquery.hcaptions.js') }}"></script>
{% endblock %}
