<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Robin Chalas - Développeur Web Full Stack</title>
    <link rel="stylesheet" href="{{ asset('bundles/portfolio/css/all.css') }}" type="text/css" media="screen" />
    <link rel="icon" href="{{ asset('bundles/portfolio/img/favicon.ico') }}" />
</head>
    <body>
        <div class="container">
            Add Project View
        </div>
        <script type="text/javascript" src="{{ asset('bundles/portfolio/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/portfolio/js/script.js') }}"></script>
    </body>
</html>
